<!DOCTYPE html>
<html>
  <head>
    <title>Calcamper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <% google_api_key = Rails.application.credentials.google[:api_key] %>  
  
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{google_api_key}"%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.reddishBear = "<%= image_url('reddish_bear.png') %>"; 
      window.friends = "<%= image_url('friends.jpg') %>"; 
      window.glamping = "<%= image_url('glamping.jpg') %>"; 
      window.rv = "<%= image_url('rv.jpg') %>"; 
      window.camping = "<%= image_url('camping.jpg') %>"; 
      window.death_valley = "<%= image_url('death_valley.jpg') %>"; 
      window.big_sur = "<%= image_url('big_sur.jpg') %>"; 
      window.joshua_tree = "<%= image_url('joshua_tree.jpg') %>"; 
      window.kings_canyon = "<%= image_url('kings_canyon.jpg') %>"; 
      window.lassen = "<%= image_url('lassen.jpg') %>"; 
      window.tahoe = "<%= image_url('tahoe.jpg') %>"; 
      window.yosemite = "<%= image_url('yosemite.jpg') %>"; 
      window.icon1 = "<%= image_url('icon1.png') %>"; 
      window.icon2 = "<%= image_url('icon2.png') %>"; 
      window.icon3 = "<%= image_url('icon3.png') %>"; 
    </script>
    <link rel="icon" href="<%=image_url('reddish_bear.png')%>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
